   <div class="container-fluid" style= "  margin-top: -20px;  margin-bottom: 20px; margin-right:0px; margin-left: 0px; overflow: hidden;">
   
    <img src="static/images/banner3.jpg" class="img-responsive">
   </div>
</div>
<div class="col-md-4">
       
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <%= translate("addFunds") %>
                    </a>
                </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                                
                        <!--
                        <li class="active"><a href="#tabs3-pane1" data-toggle="tab"><%= translate("creditCards") %></a></li>
                        -->

                        <li>
                            <a data-toggle="collapse" data-target="#collapsePins" aria-expanded="false" aria-controls="collapseExample"><%= translate("pins") %>
                            </a>
                        </li>
                                
                        <div class="collapse" id="collapsePins">

                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="http://www.prewaypaypins.com/main.sc" data-toggle="tab"><%= translate("addPin") %></a>
                                </li>
                            </ul>
                        </div>
                                
                    </ul>

                </div>

            </div>
                    
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                                
                        <!--
                        <li class="active"><a href="#tabs3-pane1" data-toggle="tab"><%= translate("creditCards") %></a></li>
                        -->

                        <li>
                            <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><%= translate("creditCard") %> / <%= translate("debitCard") %>
                            </a>
                        </li>
                                
                        <div class="collapse" id="collapseExample">

                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#cc-1" data-toggle="tab"><%= translate("dinersClub") %></a>
                                </li>
                                <li>
                                    <a href="#cc-2" data-toggle="tab"><%= translate("discover") %></a>
                                </li>
                                <li>
                                    <a href="#cc-3" data-toggle="tab"><%= translate("masterCard") %></a>
                                </li>
                                <li>
                                    <a href="#cc-4" data-toggle="tab"><%= translate("visa") %></a>
                                </li>
                                <li>
                                    <a href="#cc-5" data-toggle="tab"><%= translate("americanExpress") %></a>
                                </li>
                            </ul>
                        </div>
                                
                        <li class=""><a href="javascript:;" data-toggle="tab"><%= translate("prepaids") %></a></li>
                        <!--
                        <li class=""><a href="#cc-6" data-toggle="tab"><%= translate("pins") %></a></li>
                        -->
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Other Payments
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li><a href="javascript:;" data-toggle="tab"><%= translate("bankAccount") %></a></li>
                            <li><a href="javascript:;" data-toggle="tab"><%= translate("ach") %></a></li>
                            <li><a href="javascript:;" data-toggle="tab"><%= translate("wu") %></a></li>
                            <li><a href="javascript:;" data-toggle="tab"><%= translate("mg") %></a></li>
                          </ul>
                        </div>
                        
                                
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="javascript:;">
                        <%= translate("addRecipient") %>
                    </a>
                </h4>
            </div>
        
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#orgs-pane1" data-toggle="tab"><%= translate("organizationProfile") %></a></li>
                        <li><a href="#orgs-pane2" data-toggle="tab"><%= translate("billing") %></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="javascript:;">
                        <%= translate("transfer") %>
                    </a>
                </h4>
            </div>
                    
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#orgs-pane1" data-toggle="tab"><%= translate("organizationProfile") %></a></li>
                        <li><a href="#orgs-pane2" data-toggle="tab"><%= translate("billing") %></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="javascript:;">
                        <%= translate("withdraw") %>
                    </a>
                </h4>
            </div>
                    
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#orgs-pane1" data-toggle="tab"><%= translate("organizationProfile") %></a></li>
                        <li><a href="#orgs-pane2" data-toggle="tab"><%= translate("billing") %></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="javascript:;">
                        <%= translate("editPendingTransfer") %>
                    </a>
                </h4>
            </div>
                    
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#orgs-pane1" data-toggle="tab"><%= translate("organizationProfile") %></a></li>
                        <li><a href="#orgs-pane2" data-toggle="tab"><%= translate("billing") %></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">

    <div class="tab-content" >

        <div class="tab-pane" id="cc-1">
            <div class="credit-card-div" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 0px; overflow: hidden;">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">

                            <div class="col-md-12">
                                <input id="diners-merchant" type="text" class="form-control" placeholder="<%= translate("enterMerchant") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="diners-address" type="text" class="form-control" placeholder="<%= translate("enterAddress") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="diners-phone" type="text" class="form-control" placeholder="<%= translate("enterPhone") %>" />
                            </div>
                            <div class="col-md-12">
                                <input id="diners-email" type="text" class="form-control" placeholder="<%= translate("enterEmail") %>" />
                            </div>
                            <div class="col-md-12">
                                <input id="diners-funds" type="text" class="form-control" placeholder="<%= translate("enterFunds") %>" />
                            </div>
                            <div class="col-md-12">
                                <input id="diners-cc-number" type="text" class="form-control" placeholder="<%= translate("enterCardNumber") %>" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > <%= translate("expiryMonth") %></span>
                                <input id="diners-exp-month" type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > <%= translate("expiryYear") %></span>
                                <input id="diners-exp-year" type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > CVC/CVV/CID</span>
                                <input id="diners-cc-cvc" type="text" class="form-control" placeholder="CVC/CVV/CID" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input id="diners-cc-name" type="text" class="form-control" placeholder="<%= translate("nameOnTheCard") %>" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> <%= translate("agreeTermsAndPrivacy") %>.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input id="diners-pay-btn" type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         <div class="container-fluid" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 175px; overflow: hidden;">
   
                        <img src="static/images/dinersclub.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="cc-2">
            <div class="credit-card-div" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 0px; overflow: hidden;">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">

                            <div class="col-md-12">
                                <input id="discover-merchant" type="text" class="form-control" placeholder="<%= translate("enterMerchant") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="discover-address" type="text" class="form-control" placeholder="<%= translate("enterAddress") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="discover-phone" type="text" class="form-control" placeholder="<%= translate("enterPhone") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="discover-email" type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input id="discover-funds" type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input id="discover-cc-number" type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input id="discover-exp-month" type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Year</span>
                                <input id="discover-exp-year" type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > CVC/CVV/CID</span>
                                <input id="discover-cc-cvc" type="text" class="form-control" placeholder="CVC/CVV/CID" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input id="discover-cc-name" type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input id="discover-pay-btn" type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         <div class="container-fluid" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 175px; overflow: hidden;">
   
                        <img src="static/images/discover.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="cc-3">
            <div class="credit-card-div" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 0px; overflow: hidden;">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">

                            <div class="col-md-12">
                                <input id="master-merchant" type="text" class="form-control" placeholder="<%= translate("enterMerchant") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="master-address" type="text" class="form-control" placeholder="<%= translate("enterAddress") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="master-phone" type="text" class="form-control" placeholder="<%= translate("enterPhone") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="master-email" type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input id="master-funds" type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input id="master-cc-number" type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input id="master-exp-month" type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Year</span>
                                <input id="master-exp-year" type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > CVC</span>
                                <input id="master-cc-cvc" type="text" class="form-control" placeholder="CVC" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input id="master-cc-name" type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input id="master-pay-btn" type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                          <div class="container-fluid" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 175px; overflow: hidden;">
   
                        <img src="static/images/mastercard.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="cc-4">
            <div class="credit-card-div" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 0px; overflow: hidden;">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">

                            <div class="col-md-12">
                                <input id="visa-merchant" type="text" class="form-control" placeholder="<%= translate("enterMerchant") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="visa-address" type="text" class="form-control" placeholder="<%= translate("enterAddress") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="visa-phone" type="text" class="form-control" placeholder="<%= translate("enterPhone") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="visa-email" type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input id="visa-funds" type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input id="visa-cc-number" type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input id="visa-exp-month" type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Year</span>
                                <input id="visa-exp-year" type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > CCV</span>
                                <input id="visa-cc-cvc" type="text" class="form-control" placeholder="CCV" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input id="visa-cc-name" type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input id="visa-pay-btn" type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         <div class="container-fluid" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 175px; overflow: hidden;">
   
                        <img src="static/images/visa.png" class="img-responsive">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="cc-5">
            <div class="credit-card-div" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 0px; overflow: hidden;">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <input id="amex-merchant" type="text" class="form-control" placeholder="<%= translate("enterMerchant") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="amex-address" type="text" class="form-control" placeholder="<%= translate("enterAddress") %>" />
                            </div>

                            <div class="col-md-12">
                                <input id="amex-phone" type="text" class="form-control" placeholder="<%= translate("enterPhone") %>" />
                            </div>
                            <div class="col-md-12">
                                <input id="amex-email" type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input id="amex-funds" type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input id="amex-cc-number" type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input id="amex-exp-month" type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Year</span>
                                <input id="amex-exp-year" type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > CID</span>
                                <input id="amex-cc-cvc" type="text" class="form-control" placeholder="CID" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input id="amex-cc-name" type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input id="amex-pay-btn" type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                        <div class="container-fluid" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 175px; overflow: hidden;">
   
                        <img src="static/images/americanexpress.png" class="img-responsive">
                        </div>  
                         
                         
                    </div>
                </div>
            </div>
        </div>

        <!-- pins for chumster -->

        <div class="tab-pane" id="cc-6">
            <div class="credit-card-div" style= "  margin-top: 0px;  margin-bottom: 0px; margin-right:0px; margin-left: 0px; overflow: hidden;">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">
                        
                            <div class="col-md-12">
                                <input id="discover-cc-number" type="text" class="form-control" placeholder="Enter Pin Number" />
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input id="discover-pay-btn" type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

