<div class="col-md-4">
       
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <%= translate("addFunds") %>
                    </a>
                </h4>
            </div>
                    
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                                
                        <!--
                        <li class="active"><a href="#tabs3-pane1" data-toggle="tab"><%= translate("creditCards") %></a></li>
                        -->

                        <li>
                            <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><%= translate("creditCards") %>
                            </a>
                        </li>
                                
                        <div class="collapse" id="collapseExample">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="javascript:;" data-toggle="tab"><%= translate("dinersClub") %></a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-toggle="tab"><%= translate("discover") %></a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-toggle="tab"><%= translate("masterCard") %></a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-toggle="tab"><%= translate("visa") %></a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-toggle="tab"><%= translate("americanExpress") %></a>
                                </li>
                            </ul>
                        </div>
                                
                        <li class=""><a href="javascript:;" data-toggle="tab"><%= translate("prepaids") %></a></li>
                        <li class=""><a href="javascript:;" data-toggle="tab"><%= translate("pins") %></a></li>
                        <li><a href="javascript:;" data-toggle="tab"><%= translate("bankAccount") %></a></li>
                        <li><a href="javascript:;" data-toggle="tab"><%= translate("ach") %></a></li>
                        <li><a href="javascript:;" data-toggle="tab"><%= translate("wu") %></a></li>
                        <li><a href="javascript:;" data-toggle="tab"><%= translate("mg") %></a></li>
                                
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <%= translate("addRecipient") %>
                    </a>
                </h4>
            </div>
        
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#orgs-pane1" data-toggle="tab"><%= translate("organizationProfile") %></a></li>
                        <li><a href="#orgs-pane2" data-toggle="tab"><%= translate("billing") %></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <%= translate("transfer") %>
                    </a>
                </h4>
            </div>
                    
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#orgs-pane1" data-toggle="tab"><%= translate("organizationProfile") %></a></li>
                        <li><a href="#orgs-pane2" data-toggle="tab"><%= translate("billing") %></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <%= translate("withdraw") %>
                    </a>
                </h4>
            </div>
                    
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#orgs-pane1" data-toggle="tab"><%= translate("organizationProfile") %></a></li>
                        <li><a href="#orgs-pane2" data-toggle="tab"><%= translate("billing") %></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <%= translate("editPendingTransfer") %>
                    </a>
                </h4>
            </div>
                    
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#orgs-pane1" data-toggle="tab"><%= translate("organizationProfile") %></a></li>
                        <li><a href="#orgs-pane2" data-toggle="tab"><%= translate("billing") %></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">

    <div class="tab-content">
        <div class="tab-pane" id="cc-1">
            <div class="credit-card-div">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Year</span>
                                <input type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > CVC/CVV/CID</span>
                                <input type="text" class="form-control" placeholder="CVC/CVV/CID" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="cc-2">
            <div class="credit-card-div">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" >  Expiry Year</span>
                                <input type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > CVC/CVV/CID</span>
                                <input type="text" class="form-control" placeholder="CVC/CVV/CID" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="cc-3">
            <div class="credit-card-div">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" >  Expiry Year</span>
                                <input type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" >  CVC</span>
                                <input type="text" class="form-control" placeholder="CVC" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="cc-4">
            <div class="credit-card-div">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" >  Expiry Year</span>
                                <input type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" >  CCV</span>
                                <input type="text" class="form-control" placeholder="CCV" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="cc-5">
            <div class="credit-card-div">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row ">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Funds" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" > Expiry Month</span>
                                <input type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" >  Expiry Year</span>
                                <input type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <span class="help-block text-muted small-font" >  CID</span>
                                <input type="text" class="form-control" placeholder="CID" />
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-credit-card fa-fw"></i>
                            </div>
                            
                        </div>
                        
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <input type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> I agree to the terms of service and privacy policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>