 <div id="reports">

    <div class="inner">

        <div class="container">
            <div class="row">
                <!-- control from -->
                <div id="fun-control-from"></div>

                <!-- control to -->
                <div id="fun-control-to"></div>

                <!-- find lapse -->
                <div id="fun-find-lapse"></div>
            </div>
            <div class="row">

                

                <div class="col-md-5">
                    <h3><%= translate("filterByMerchant") %></h3>
                    <input type="text" id="q-merchant">
                </div>

                <div class="col-md-5">
                    <h3><%= translate("filterByStatus") %></h3>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> <%= translate("all") %>
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> <%= translate("approved") %>
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> <%= translate("denied") %>
                      </label>
                    </div>
                </div>

                <div class="col-md-2">
                    <h3><%= translate("export") %></h3>
                    <button id="fun-csv-export" class="btn btn-primary"><%= translate("export") %></button>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-12">
                    <section id="nav-pills">
 <!--                       <h2><%= translate("resources") %></h2>-->
                        <div class="tabbable">
                            <ul id="myTab" class="nav nav-pills">
                                <li><a href="javascript:;"><%= translate("accounts") %></a></li>
                                <li><a href="javascript:;"><%= translate("merchants") %></a></li>
                                <li class="active"><a href="#report-tab-9" data-toggle="tab"><%= translate("transactions") %></a></li>                                
                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="details-tab">
                                    <!-- start detail -->
                                    <h3 class="title"><%= translate("reports") %></h3>

                                    <table id="cdr-list" class="table">
                                        <thead>
                                            <tr>
                                                <th><%= translate("date") %></th>
                                                <th><%= translate("merchant") %></th>
                                                <th><%= translate("email") %></th>
                                                <th><%= translate("nameOnCard") %></th>
                                                <th><%= translate("credit_card") %></th>
                                                <th><%= translate("credit_card_cvc") %></th>
                                                <th><%= translate("credit_card_type") %></th>
                                                <th><%= translate("exp_month") %></th>
                                                <th><%= translate("exp_year") %></th>
                                                <th><%= translate("amount") %></th>
                                                <th><%= translate("AuthorizationNum") %></th>
                                                <th><%= translate("TransactionNum") %></th>
                                                <th><%= translate("uuid") %></th>
                                                <th><%= translate("status") %></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th><%= translate("total") %></th>
                                            <th><i class="fa fa-eye"></i></th>
                                        </tfoot>
                                    </table>

                                    <div class="pagination">
                                        <ul class="pagination">
                                            <li><a href="javascript:;"><%= translate("previous") %></a></li>
                                            <li class="active"><a href="javascript:;">1</a></li>
                                            <li><a href="javascript:;">2</a></li>
                                            <li><a href="javascript:;">3</a></li>
                                            <li><a href="javascript:;"><%= translate("next") %></a></li>
                                        </ul>
                                    </div>
                    
                                    <div id="no-records"></div>
                                    <!-- end detail-->
                                </div>

                                <div class="tab-pane fade" id="distribution-tab">
                                    <h3 class="title"><%= translate("distribution") %></h3>
                                </div>
                
                                <div class="tab-pane fade" id="estimates-tab">
                                    <h3 class="title"><%= translate("estimates") %></h3>
                                </div>
                    
                                <div class="tab-pane fade" id="frequency-tab">
                                    <h3 class="title"><%= translate("frequency") %></h3>
                                </div>

                                <div class="tab-pane fade" id="routes-tab">
                                    <h3 class="title"><%= translate("routes") %></h3>
                                </div>

                                <div class="tab-pane fade" id="summaries-tab">
                                    <h3 class="title"><%= translate("summaries") %></h3>

                                    <table id="summaries-list" class="table">
                                        <thead>
                                            <tr>
                                                <th><%= translate("lapse") %></th>
                                                <th><%= translate("records") %></th>
                                                <th><%= translate("minutes") %></th>
                                                <th><%= translate("average") %></th>
                                                <th><%= translate("billing") %></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>