 <div id="reports">

    <div class="inner">

        <div class="container">
            <div class="row">
                <!-- control to -->
                <div id="fun-control-to"></div>
                
                <!-- control from -->
                <div id="fun-control-from"></div>

                <!-- find lapse -->
                <div id="fun-find-lapse"></div>
            </div>
            <div class="row">

                <div class="col-md-5">
                    <h3><%= translate("filterByMerchant") %></h3>
                    <input type="text" id="q-merchant">
                </div>

                <div class="col-md-5">
                    <h3><%= translate("filterByStatus") %></h3>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="status" id="status-all" autocomplete="off" checked> <%= translate("all") %>
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="status" id="status-approved" autocomplete="off"> <%= translate("approved") %>
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="status" id="status-denied" autocomplete="off"> <%= translate("denied") %>
                      </label>
                    </div>
                </div>

                <div class="col-md-2">
                    <h3><%= translate("eXport") %></h3>
                    <button id="fun-csv-export" class="btn btn-primary"><%= translate("eXportCSV") %></button>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-12">
                    <section id="nav-pills">

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="details-tab">
                                    <!-- start detail -->
                                    <h3 class="title"><%= translate("transactions") %></h3>

                                    <table id="cdr-list" class="table">
                                        <thead>
                                            <tr>
                                                <!--
                                                <th><%= translate("date") %></th>
                                                <th><%= translate("merchant") %></th>
                                                <th><%= translate("fee") %></th>
                                                -->
                                                <th><%= translate("summary") %></th>
                                                
                                                <th><%= translate("name") %></th>
                                                <th><%= translate("email") %></th>
                                                <th><%= translate("phone") %></th>

                                                <th><%= translate("TransactionNum") %></th>
                                                <th><%= translate("ccInfo") %></th>

                                                <th><%= translate("amount") %></th>
                                                <th><%= translate("status") %></th>
                                                <th><%= translate("uuid") %></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th><%= translate("totalAmountProcessed") %></th>
                                            <th id="records-total"><i class="fa fa-eye"></i></th>
                                            <th></th>
                                            <th></th>
                                        </tfoot>
                                    </table>

                                    <div class="panel panel-default">
                                      <!-- Default panel contents -->

                                      <!-- Table -->
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <th scope="row"><%= translate("approved") %></th>
                                            <td id="sum-approved"></td>
                                          </tr>
                                          <tr>
                                            <th scope="row"><%= translate("denied") %></th>
                                            <td id="sum-denied"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>

                                    <div id="no-records"></div>

                                    <div class="pagination">
                                        <ul class="pagination">
                                            <li><a href="javascript:;"><%= translate("previous") %></a></li>
                                            <li class="active"><a href="javascript:;">1</a></li>
                                            <li><a href="javascript:;">2</a></li>
                                            <li><a href="javascript:;">3</a></li>
                                            <li><a href="javascript:;"><%= translate("next") %></a></li>
                                        </ul>
                                    </div>

                                    
                                    <!-- end detail-->
                                </div>

                                <div class="tab-pane fade" id="settlement-tab">
                                    <h3 class="title"><%= translate("settlement") %> <%= translate("details") %></h3>
                                    <div class="panel panel-default">
                                      <!-- Default panel contents -->

                                      <!-- Table -->
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <th scope="row"><%= translate("merchant") %></th>
                                            <td id="settle-merchant">Preway</td>
                                          </tr>
                                          <tr>
                                            <th scope="row"><%= translate("paymentPeriod") %></th>
                                            <td id="settle-date-period">5/28/2015 - 5/28/2015</td>
                                          </tr>
                                          <tr>
                                            <th scope="row"><%= translate("transactionFee") %></th>
                                            <td id="settle-trans-fee">15%</td>
                                          </tr>
                                          <tr>
                                            <th scope="row"><%= translate("rollingReserve") %></th>
                                            <td id="settle-roll-reserve-fee">10%</td>
                                            
                                          </tr>
                                          <tr>
                                            <th scope="row">PER TRANSACTION FEE</th>
                                            <td id="settle-per-trans-fee">$0.85</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>

                                    <div class="panel panel-default">
                                      <!-- Default panel contents -->
                                      <div class="panel-heading">BREAKDOWN</div>
                                      <!-- Table -->
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <th scope="row">TOTAL AMOUNT PROCESSED</th>
                                            <td id="settle-amount-processed">$9457.40</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">APPROVED TRANSACTIONS</th>
                                            <td id="settle-approved-count">16</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">DECLINED TRANSACTIONS</th>
                                            <td id="settle-denied-count">7</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">FRAUD & ID VERIFICATION</th>
                                            <td id="settle-fraud-count">0</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>

                                    <div class="panel panel-default">
                                      <!-- Default panel contents -->
                                      <div class="panel-heading">FEES</div>
                                      <!-- Table -->
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <th scope="row">PROCESSING FEE</th>
                                            <td id="settle-total-processing-fee">$9457.40</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">ROLLING RESERVE</th>
                                            <td id"settle-count-roll-reserve">16</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">PER TRANSACTION FEES</th>
                                            <td id="settle-total-per-trans-fee">7</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">PAYOUT DONE</th>
                                            <td>0</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">BC DEDUCTION</th>
                                            <td>0</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">WIRE FEE</th>
                                            <td>0</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">FULLFILLMENT</th>
                                            <td>0</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="panel panel-default">
                                      <!-- Default panel contents -->
                                      <div class="panel-heading">PAYMENT TO MERCHANT</div>
                                      <!-- Table -->
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <th scope="row">NET TOTAL</th>
                                            <td id="settle-net-total">$0</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="estimates-tab">
                                    <h3 class="title"><%= translate("estimates") %></h3>
                                </div>

                                <div class="tab-pane fade" id="frequency-tab">
                                    <h3 class="title"><%= translate("frequency") %></h3>
                                </div>

                                <div class="tab-pane fade" id="routes-tab">
                                    <h3 class="title"><%= translate("routes") %></h3>
                                </div>

                                <div class="tab-pane fade" id="summaries-tab">
                                    <h3 class="title"><%= translate("summaries") %></h3>

                                    <table id="summaries-list" class="table">
                                        <thead>
                                            <tr>
                                                <th><%= translate("lapse") %></th>
                                                <th><%= translate("records") %></th>
                                                <th><%= translate("minutes") %></th>
                                                <th><%= translate("average") %></th>
                                                <th><%= translate("billing") %></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>