 <div id="send-money">

    <div class="inner">

        <div class="container">

            <div class="row">

                <div class="col-md-5">
                    <h3><%= translate("amount") %></h3>
                    <input type="text" id="s-amount">
                </div>

                <div class="col-md-5">
                    <h3><%= translate("filterByStatus") %></h3>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="status" id="status-all" autocomplete="off" checked> <%= translate("all") %>
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="status" id="status-approved" autocomplete="off"> <%= translate("approved") %>
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="status" id="status-denied" autocomplete="off"> <%= translate("denied") %>
                      </label>
                    </div>
                </div>

                <div class="col-md-2">
                    <h3><%= translate("eXport") %></h3>
                    <button id="fun-csv-export" class="btn btn-primary"><%= translate("eXportCSV") %></button>
                </div>
                
            </div>
    
        </div>

    </div>

</div>