<tr>
    <!--
    <td><%= date %></td>
    <td><%= account %></td>

    
    <th><%= translate("summary") %></th>
                                                
                                                <th><%= translate("name") %></th>
                                                <th><%= translate("email") %></th>
                                                <th><%= translate("phone") %></th>

                                                <th><%= translate("TransactionNum") %></th>
                                                <th><%= translate("ccInfo") %></th>

                                                <th><%= translate("amount") %></th>
                                                <th><%= translate("status") %></th>
                                                <th><%= translate("uuid") %></th>


    -->
    <td><%= Summary %></td>
    <td><%= name %></td>
    <td><%= email %></td>
    <td><%= phone %></td>
    <td><%= TransactionNum %></td>
    <td><%= cc_info %></td>
    <td>$<%= Amount %></td>
    <td>
        <%= translate("approved") %>
        <!--
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownStatus" data-toggle="dropdown" aria-expanded="true">
                Select Status
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownStatus">
                <li><a href="javascript:;" data-toggle="tab"><%= translate("approved") %></a></li>
                <li><a href="javascript:;" data-toggle="tab"><%= translate("denied") %></a></li>
            </ul>
        </div>
        -->
    </td>
    <td><i id="<%= uuid %>"class="fa fa-eye"></i></td>
</tr>