<tr>
    <td><%= Summary %></td>
    <td><%= holder_name %></td>
    <td><%= email %></td>
    <td><%= phone %></td>
    <td><%= TransactionNum %></td>
    <td><%= cc_info %></td>
    <td>$<%= Amount %></td>
    <td>
        <%= status %>
        <!--
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownStatus" data-toggle="dropdown" aria-expanded="true">
                Select Status
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownStatus">
                <li><a href="javascript:;" data-toggle="tab"><%= translate("approved") %></a></li>
                <li><a href="javascript:;" data-toggle="tab"><%= translate("denied") %></a></li>
            </ul>
        </div>
        -->
    </td>
    <td><i id="<%= uuid %>" class="fa fa-eye fun-popup"></i></td>
</tr>